/*
button{
    background-color: green;
    color: white;
    margin-left: 15px;
}
*/

.booking{
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    
}

.parent{
    border: 1px solid black;
    padding: 2px;
}

.layoutItem{
    margin: 10px;
}

.heading{
    color: green;
    margin-left: 20px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box{
    border: 1px solid black;
    height: 250px;
    width: 160px;
    margin: 10px;
    padding: 5px;
  }


  /*
  02/01/2024
  */
  .quickLinks{
    font-size: 30px;
    margin: 10px;
    
  }

  .quickHead{
    border: 1px black solid;
    margin-bottom: 5px;
  }

  .accdata{
    font-size: 20px;
  }

  

  
